<p id="notice"><%= notice %></p>

<h1>物件一覧</h1>

<table>
  <thead>
    <tr>
      <td>物件名</td>
      <td>賃料</td>
      <td>住所</td>
      <td>築年数</td>
      <td>備考</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_name %></td>
        <td><%= property.rent %>円</td>
        <td><%= property.address %></td>
        <td><%= property.age %>年</td>
        <td><%= property.note %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '物件を登録する', new_property_path %>
