<p id="notice"><%= notice %></p>

<p>物件名：<%= @property.property_name %></p>
<p>賃料：<%= @property.rent %>円</p>
<p>住所：<%= @property.address %></p>
<p>築年数：<%= @property.age %>年</p>
<p>備考：<%= @property.note %></p>

<hr>
<% if @nearest_stations.present? %>

<h4>最寄駅1</h4>

<% @nearest_stations.each do |nearest_station| %>
    <p>路線名：<%= nearest_station.route_name %></p>
    <p>駅名：<%= nearest_station.station_name %></p>
    <p>徒歩分数：<%= nearest_station.time %>分</p>
<% end %>


<% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
